<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Luận Án Bản Đồ</h1>
        <p class="lead">Người Thực Hiện: Phương Nhung</p>
        <hr class="my-4">
        <p>Đây là luận án về phần bản đồ được dựa trên ý tưởng google map </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Đọc Luận Án</a>
        </p>
    </div>
</div>
